.rankAndVote button {
    font-size:0.8rem;
}
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .rankAndVote {
        /* border:solid red 2px; */
        position:relative;
        top:-40px;
        height:100%;

    }
    .numOfVotes {
        font-size:1rem;
        font-weight: 900;
    }
}

.numOfVotes {
    text-align: center;
}