.authoredBy {
    color:grey;
  }
.authoredBy a {
    color: rgb(108, 108, 170);
}
.listLinks a p {
    display:inline;
    padding-right: 10px;
}

.commentEntry {
    border:solid gainsboro 0.5px;
    display:block;
    width:100%;
}

.commentEntry .rankAndVote {
    /* border:solid gainsboro 0.5px; */
    display:inline-block;
    position: relative;
    padding:0.5rem;

}
.commentEntry .commentItem {
    /* border:solid gainsboro 0.5px; */
    position: relative;
    display:inline-block;
    padding:0.5rem;
    height:100%;
    width: 70%;
}

.commentsList {
    padding-top:10px;
    max-width: 1400px;
    margin: auto;
}

.scrollCommentButton {
    /* padding: 6px 0 6px 6px; */
}
@media only screen and (min-width : 320px) {
    .scrollCommentButton {
        text-align:center;
        width: 95%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 0 0 0 10px;
        border: none;
        border-radius: 4px;
    }
    .scrollCommentButton:active {
        background-color: rgb(44, 110, 46);
        top:4px;
    }
}
/* Iphone plus standards */ 
@media only screen and (min-width : 414px) { 
    .scrollCommentButton {
        text-align:center;
        width: 100%;
        background-color: #4CAF50;
        color: white;
        margin: 0 0 0 0;
        border: none;
        border-radius: 4px;
    }
    .scrollCommentButton:active {
        background-color: rgb(44, 110, 46);
        top:4px;
    }
}