/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .userIterator {

    }
    .usersInList {
        border:solid rgba(0, 0, 255, 0.137) 0.5px;
        border-radius: 4px;
        width:100%;
        text-align: center;
        background-color:rgba(204, 202, 202, 0.308); 
    }
}
/* Iphone plus*/ 
@media only screen and (min-width : 414px) {
    .userIterator {
        padding-left:24%;
        padding-right:20%;
    }
    .usersInList {
        font-size:1.2rem;
        font-weight: 900;
        height:30px;
        max-width:800px;

    }
}