.commentsIterator {
    padding-top: 10px;
}
.commentBody {
    padding-left:30px;
}
.commentItem .authoredBy {
    padding-left:30px;
}
.commentsIterator {
    max-width: 1400px;
    margin: auto;
}

.commentItem .listLinks {
    padding-left:30px;
} 
/* Small Devices, Tablets */ 
@media only screen and (min-width : 768px) {
    .commentsIterator {
        text-align:center;
        left:-20px;
    }
    .commentsRankAndVote {
        margin:0 0 50px 0;
        margin-top:10px;
    }
    .commentEntry .commentsRankAndVote .numOfCommentsVotes {
        font-size:1.2rem;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .commentsIterator {
        text-align:left;
    }
}