@media only screen and (max-width : 413px) {
  .search {
    padding: 6px 0 6px 4px;
    display:inline-block;
};
 }

/* Iphone plus standards */ 
@media only screen and (min-width : 414px) { 
    .search {
      padding: 8px 0 6px 30px;
      display:inline-block;
    };
}
/* Small Devices, Tablets */ 
@media only screen and (min-width : 768px) {
  .search {
    padding: 8px 0 8px 35px;
    display:block;
  };
}

.search dfn {
        cursor: help;
        font-style: normal;
        position: relative;
        border-radius:10px;
      }
    
      .search dfn::after {
        content: attr(data-info);
        font-style: italic;
        display: inline;
        position: absolute;
        top: -70px; left: 10px;
        opacity: 0;
        width: 180px;
        font-family:'Varela', 'sans-serif';
        font-size: 0.75rem;;
        font-weight: 700;
        line-height: 1.5em;
        padding: 0.5em 0.8em;
        background: rgba(0,0,0,0.8);
        color: #fff;
        pointer-events: none; /* Prevents box apearing when hovered */
        transition: opacity 250ms, top 250ms;
        border-radius:20px;
      }
      
      .search dfn::before {
        content: '';
        font-style: normal;
        display: block;
        position: absolute;
        top: 100px; left: 20px;
        opacity: 0;
        width: 0; height: 0;
        border: solid transparent 5px;
        border-bottom-color: rgba(0,0,0,0.8);
        transition: opacity 250ms, top 250ms;
      }
      .search  dfn:hover {z-index: 2;} /* Keeps the info boxes on top of other elements */
      .search dfn:hover::after,
      .search dfn:hover::before {opacity: 1;}
      .search dfn:hover::after {top: 30px;}
      .search dfn:hover::before {top: 20px;}